.root {
  height: 100vh;
  background: url('../../assets/images/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
