.root {
  width: 50vw;
  height: 400px;
  background-color: #ffffffcb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.subtitle {
  color: rgb(115, 113, 113);
}
.form {
  max-width: 360px;
}
